@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #262626;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar for chat and lists */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #026cdf; 
}


